#logo {
    float: left;
    width: 100px;
    height: 100px;
}

.mar{
    padding: 7px;
    margin-top: 120px;
    color: #06038D;
    background: linear-gradient(0deg, #046A38 5%, #ffffff, #FF671F 100%);
}

h5{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.type {
    
    width: 500px;
    height: 70px;
    margin: auto;
    text-align: center;
    background-color: #000000;
    color:#05c0eb;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 30px;
}

.team {
    margin-top: 3855px;
}


.topnav {
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    border-bottom: 0.1rem solid rgb(229, 229, 229);
    z-index: 1;
}

.topnav a {
    color: #000000;
    display: inline-flex;
    font-size: 20px;
    font-weight: 900;
    margin-top: 35px;
    padding: 14px 16px;
    text-decoration: none;

}

.topnav a.Athletes:hover {
    color: #0081C8;
}

.topnav a.Summary:hover {
    color: #FCB131;
}

.topnav a.category:hover {
    color: #000000;
}

.topnav a.About:hover {
    color: #EE334E;
}

.topnav a.info:hover {
    color: #00A651;
}

#container {
    font-family: "Olympic Sans", Arial, Helvetica, sans-serif;
    width: 1500px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.8);
}

img {
    width: 350px;
    height: 250px;
    padding: 10px;
    border-radius: 25px;
}

.zoom {
    transition: transform 1s;
}

.zoom:hover {
    transform: scale(1.2);
}

.grid-container {
    display: grid;
    gap: 2px;
    padding: 10px;
    color: aliceblue;
    grid-template-columns: 1fr 1fr 1fr;

}

.grid-item {
    background-color: #000000;
    padding: 20px;
    font-size: 30px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    justify-content: center;
}
