#logo {
    float: left;
    width: 100px;
    height: 100px;
}

.mar {
    padding: 7px;
    margin-top: 120px;
    color: #06038D;
    background: linear-gradient(0deg, #046A38 5%, #ffffff, #FF671F 100%);
}

.type {

    width: 500px;
    height: 70px;
    margin: auto;
    text-align: center;

}

.team {
    margin-top: 3855px;
}

button {
    padding: 3px;
    border-radius: 10px;
    border: none;
    background-color: #228B22;
}

button:hover {
    padding: 3px;
    border-radius: 10px;
    color: #ffffff;
    border: black;
    background-color: #0072b1;
}


.navbar {
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    border-bottom: 0.1rem solid rgb(229, 229, 229);
    z-index: 1;
}

.navbar a {
    color: #000000;
    display: inline-flex;
    font-size: 20px;
    font-weight: 900;
    margin-top: 35px;
    padding: 14px 16px;
    text-decoration: none;

}

.navbar a.Athletes:hover {
    color: #0081C8;
}

.navbar a.Summary:hover {
    color: #FCB131;
}

.navbar a.category:hover {
    color: #000000;
}

.navbar a.About:hover {
    color: #EE334E;
}

.navbar a.info:hover {
    color: #00A651;
}

#container {
    font-family: "Olympic Sans", Arial, Helvetica, sans-serif;
    width: 1500px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.8);
}

.zoom {
    width: 350px;
    height: 250px;
    padding: 10px;
    border-radius: 25px;
    transition: transform 1s;
}

.zoom:hover {
    transform: scale(1.2);
}

.grid-container {
    display: grid;
    gap: 2px;
    padding: 10px;
    color: aliceblue;
    grid-template-columns: 1fr 1fr 1fr;

}

.grid-item {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #000000;
    padding: 20px;
    font-size: 30px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.foot-container {
    margin-top: 2000px;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
}

.foot-item {
    display: flex;
    padding: 5px;
    line-height: 25px;
    flex-direction: column;
    color: #ffffff;
    background-color: #000000;
}

.foot-left {
    text-align: center;
}

.author {
    font-style: oblique;
    font-weight: bolder;
}

.aboutPage {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

.label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    color: #535b6386;
}

.contactInfo {
    display: inline-flex;
}

.footLogo {
    width: 20px;
    height: 15px;
    margin-top: 5px;
}

.linkedInBtn {
    padding: 3px;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    background-color: #0072b1;
}

.linkedInBtn:hover {
    padding: 3px;
    border-radius: 7px;
    color: #000000;
}

footer {
    text-align: center;
    padding: 5px;
    color: #fffdfd;
    background-color: #363232;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
